@use "../assets/variables.scss" as *;
html,
body {
  height: 100%;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: $background-third-color;
}

.content-wrapper {
  padding-bottom: 2.5rem;
}
