$background-color-base: #ffffff;
$purple-color: #9340ff;
$main-font-color: #00a1ff;
$register-accept-btn: #00a1ff;
$register-clear-btn: #ff3c5f;
$background-second-color: #101728;
$background-third-color: #19b4fc;
