@use "../../../assets/variables.scss" as *;

.textColor {
  color: $main-font-color;
}

.addOffer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-third-color;
  width: 100%;
  //height: 100vh;

  &__container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: $background-second-color;
    width: 60%;
    min-height: 100%;
    max-height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;

    &--text {
      color: $main-font-color;
      font-size: 25px;
    }
  }

  &__input {
    min-height: 30px;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
  }

  &__title {
    text-align: center;
    color: white;
    font-size: 30px;
  }

  &__btnContainer {
    display: flex;
    gap: 10px;
    margin-top: 130px;
  }

  &__agreeButton {
    min-height: 50px;
    background-color: #00a1ff;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: white;
    transition-duration: 0.4s;
  }

  &__deleteButton {
    min-height: 50px;
    background-color: #ff3c5f;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: white;
    transition-duration: 0.4s;
  }
}

.calendar {
  height: 40%;
}
