<div class="poster-details__component">
  <div class="poster-details__container">
    <div class="poster-details__info">
      <div class="poster-details__info-card">
        <span>Tytuł ogłoszenia:</span>
        <div>{{ eventData?.title }}</div>
      </div>
      <div class="poster-details__info-card">
        <span>Opis:</span>
        <div>{{ eventData?.description }}</div>
      </div>
    </div>
    <div>
      <button (click)="remove()">Remove</button>
      <button (click)="edit()">Edit</button>
    </div>
  </div>
</div>
